@font-face {
  font-family: shabnam;
  font-style: normal;
  src: url("assets/fonts/shabnam/Without-Latin/Shabnam-WOL.woff");
}
* {
  font-family: shabnam !important;
}
body {
  margin: 0;
  font-family: shabnam, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.h-100vh {
  min-height: 100vh !important;
}
.icons {
  font-size: 2rem;
}
.card-img {
  height: 25vh;
  object-fit: cover !important;
}
.product-card {
  max-height: 350px;
}
